body {
  margin: auto;
  width: 600px;
}

a {
  color: #24509f;
}

a:visited {
  color: #24509f;
}

.app {
  color: #3d3d3d;
  font-size: 14px;
  text-align: center;
  margin-top: 2rem;
}

h2 {
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.columnName {
  font-weight: lighter;
  transform: rotate(-90deg);
  max-width: 20px;
  height: 5rem;
}

.rowName {
  font-weight: lighter;
  width: 5rem;
}

table {
  margin-bottom: 1rem;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #d4d4d4;
}

.padding_bottom {
  margin-bottom: 1rem;
}

button {
  margin: 0.5rem;
}
